
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,600;1,100;1,200&display=swap');
  /* font family from google imported  */

*{
    margin: 0;  /* To Reduce the gap betweenb all the list that we have made*/
    padding: 0;
}

.container{
    display: flex; /*For Showing Side BY Side Content of container */
    }

.sidebar{
    background-color: rgb(230, 204, 227);
    width: 10vw; /* it occupy the 20% of window to display the sidebar out of 100%*/
    font-family: 'Roboto', sans-serif;
}
.sidebar nav{
    padding: 8px;
    font-size: 18px;
    height: 100vh;
}
.sidebar li{
    list-style: none;
    padding: 28px;
}
.main{
    /* background-color: rgb(49, 120, 141); */
    width: 80vw;
}
.infoContainer{
    margin: auto;
    /* background-color: rgb(15, 153, 158); */
    height: 15vw;
    width: 70vw;
    margin-top: 115px;
    display: flex;
    justify-content: space-between; /* Creating space between .devinfo class and .devimg img*/
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
}

.name{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

.about{
    font-size: 50px;
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button{
    margin-left: 40px;
    margin-top: 30px;
}
.button.button{
    padding: auto;
}
.devimg img{
    width: 237px;   /* Setting up the width of the image as our required */
   

}

.contactform h1{
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}
.contactform{
    font-family: 'Roboto', sans-serif;
    padding-top: 144px;
    padding-left: 500px;

    padding: a;

}
.contactform form div{
    padding-top: 100px;
}